- if resource.errors.any?
  #error_explanation.bg-orange-300.rounded.p-2{"data-turbo-cache" => "false"}
    %h5
      = I18n.t("errors.messages.not_saved",                 |
        count: resource.errors.count,                       |
        resource: resource.class.model_name.human.downcase) |
    %ul.list-decimal.px-4
      - resource.errors.full_messages.each do |message|
        %li.text-xs= message
