- flash.each do |flash_type, message|
  .relative
    .fixed.top-4.right-4.w-96  
      .transition.transform.duration-1000.hidden.flex.items-start.p-4.mb-4.bg-white.border-l-4.border-blue-500.drop-shadow-xl.rounded{"data-controller" => "notification", "data-notification-delay-value" => "6000", "data-transition-enter-from" => "opacity-0 translate-x-6", "data-transition-enter-to" => "opacity-100 translate-x-0", "data-transition-leave-from" => "opacity-100 translate-x-0", "data-transition-leave-to" => "opacity-0 translate-x-6"}
        %svg.h-6.w-6.text-blue-600{:fill => "none", :stroke => "currentColor", "stroke-width" => "2", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9", "stroke-linecap" => "round", "stroke-linejoin" => "round"}            
        %p.ml-3.text-sm.font-medium.text-slate-600=message
        %button.ml-auto.text-slate-500.rounded-lg.inline-flex.h-5.w-5{"data-action" => "notification#hide"}
          %span.sr-only Dismiss
          %svg.w-5.h-5{:fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
            %path{"clip-rule" => "evenodd", :d => "M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z", "fill-rule" => "evenodd"}
